body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.hero {
    height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.workout-plans {
    padding: 20px;
    text-align: left;
}

.banner img {
    width: 100%;
    border-radius: 15px; /* Para sa rounded corners gaya ng nasa image */
}
